<!-- Nonresearch Section -->
    <section id="research" class="content-section text-center">
        <div class="nonresearch-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Other science-related activities</h2>
                    <p>I'm involved with the Venezuelan Ecological Society, specially voluntering with its scientific journal "Ecotrópicos" .</p>
                    <a href="https://luismmontilla.github.io/ybd-pah/" class="btn btn-default btn-lg">Yellow band disease and PAHS</a>
                    <p>Inspired by the other curated lists, I started an Awesome coral research! list. Please check it out and add any awesome resource you use in your research.</p>
                    <a href="https://github.com/luismmontilla/awesome-coral-research" class="btn btn-default btn-lg">Awesome coral research resources</a>
                </div>
            </div>
        </div>
    </section>
