         <!-- Random Section -->
    <section id="randomstuff" class="content-section text-center">
        <div class="randomstuff-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Miscellanea</h2>
                          <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
  .gr_custom_container_1521340798 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    width: 300px
  }
  .gr_custom_header_1521340798 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
  }
  .gr_custom_each_container_1521340798 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1521340798 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1521340798 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1521340798 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1521340798 {
    /* customize your rating stars here */
    float: right;
  }
</style>

      <div id="gr_custom_widget_1521340798">
          <div class="gr_custom_container_1521340798">
    <h2 class="gr_custom_header_1521340798">
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/4669636-luis-miguel?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Luis Miguel&#39;s bookshelf: read</a>
    </h2>
      <div class="gr_custom_each_container_1521340798">
          <div class="gr_custom_rating_1521340798">
            <span class=" staticStars" title="did not like it"><img alt="did not like it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1521340798">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2259459197?utm_medium=api&amp;utm_source=custom_widget">Un vampiro en Maracaibo</a>
          </div>
          <div class="gr_custom_author_1521340798">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/880165.Norberto_Jos_Olivar">Norberto José Olivar</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1521340798">
          <div class="gr_custom_rating_1521340798">
            <span class=" staticStars" title="it was ok"><img alt="it was ok" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1521340798">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2222558074?utm_medium=api&amp;utm_source=custom_widget">Alejandro de Humboldt por tierras de Venezuela</a>
          </div>
          <div class="gr_custom_author_1521340798">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/1596457.Pedro_Grases">Pedro Grases</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1521340798">
          <div class="gr_custom_rating_1521340798">
            <span class=" staticStars" title="it was amazing"><img alt="it was amazing" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /></span>
          </div>
          <div class="gr_custom_title_1521340798">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/2092985506?utm_medium=api&amp;utm_source=custom_widget">The Angel's Game</a>
          </div>
          <div class="gr_custom_author_1521340798">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/815.Carlos_Ruiz_Zaf_n">Carlos Ruiz Zafón</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1521340798">
          <div class="gr_custom_rating_1521340798">
            <span class=" staticStars" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1521340798">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/1953402548?utm_medium=api&amp;utm_source=custom_widget">The War of the Worlds</a>
          </div>
          <div class="gr_custom_author_1521340798">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/880695.H_G_Wells">H.G. Wells</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1521340798">
          <div class="gr_custom_rating_1521340798">
            <span class=" staticStars" title="really liked it"><img alt="really liked it" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://www.goodreads.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1521340798">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/1947900845?utm_medium=api&amp;utm_source=custom_widget">Libro de mal amor</a>
          </div>
          <div class="gr_custom_author_1521340798">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/8220612.Fernando_Iwasaki">Fernando Iwasaki</a>
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://www.goodreads.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Luis Miguel, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/4669636.Luis%20Miguel's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=5&order=d&shelf=read&show_author=1&show_cover=0&show_rating=1&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1521340798&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </section>
