    <!-- Research Section -->
    <section id="research" class="content-section text-center">
        <div class="research-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Research and publications.</h2>
                    <p>These are the projects (past and present) that I'm involved with.</p>
                    <a href="https://luismmontilla.github.io/ybd-pah/" class="btn btn-default btn-lg">Yellow band disease and PAHS</a>
                    <p style="line-height: 60px;">
                    <a href="https://luismmontilla.github.io/amlc-network/" class="btn btn-default btn-lg">An AMLC collaboration network</a>
                </div>
            </div>
        </div>
    </section>
