<!-- Scicomm Section -->
    <section id="scicomm" class="content-section text-center">
        <div class="scicomm-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Scicomm</h2>
                    <p>I like to write about science stuff in a plain language.</p>
                    <a href="https://luismmontilla.github.io/ybd-pah/" class="btn btn-default btn-lg">Yellow band disease and PAHS</a>
                </div>
            </div>
        </div>
    </section>
