<!-- Scicomm Section -->
    <section id="scicomm" class="content-section text-center">
        <div class="scicomm-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Scicomm</h2>
                    <p>I like to write about science stuff in plain language. These are a few samples and a link to my blog.</p>
                    <a href="https://tuyuyocientifico.wordpress.com/" class="btn btn-default btn-lg">My science blog (in spanish)</a>
                    <p style="line-height: 60px">
                    <a href="https://www.revistapersea.com/ambiente-1//un-paraso-ecolgico-en-declive-en-el-caribe" class="btn btn-default btn-lg">A declining ecological paradise in the Caribbean (in spanish)</a>
                    <p style="line-height: 60px">
                    <a href="http://www.calameo.com/books/0046284830b656c496d97" class="btn btn-default btn-lg">Creating a magical classroom with technology: Our experience using Classcraft (in spanish)</a>
                </div>
            </div>
        </div>
    </section>
